<p id="notice"><%= notice %></p>

<p>
  <strong>Long url:</strong>
  <%= @short_url.long_url %>
</p>

<p>
  <strong>Short url:</strong>
  <%= link_to short_url_redirect_url(@short_url.shortened_url), short_url_redirect_url(@short_url.shortened_url) %>
</p>

<%= link_to 'Edit', edit_short_url_path(@short_url) %> |
<%= link_to 'Back', short_urls_path %>
